<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Rockola</title>
	<link rel="stylesheet"  href="/static/jquerymobile/jquery.mobile-1.0.1.min.css" />
  <script src="/static/jquerymobile/jquery.js"></script>
  <script type="text/javascript" src="/static/js/jquery.eventsource.js"></script>
  <script type="text/javascript" src="/static/js/jquery.sse.simple.js"></script>
	<script src="/static/jquerymobile/jquery.mobile-1.0.1.min.js"></script>
	<script src="/static/js/underscore.js"></script>
	<script src="/static/js/backbone.js"></script>
	<script src="/static/js/app.js"></script>
  <script src="/static/js/rockola.js"></script>
</head> 
<body> 
    <!-- PAGE Now playing -->
    <div data-role="page" id="nowplaying">
        <div data-role="header">
            <h1 data-role="title">Current Playlist</h1>
        </div>
        <div data-role="content">
            <ul data-role="listview" id="nowplayingsong">
                <li data-theme="a">
                    <a href="#">
                        <h3>1. Música 1 <span class="ui-li-count">12</span></h3>
                        <p><strong>Artista, Album</strong></p>
                        <p>00:15 - 4:35</p>
                    </a>
                    <a href="#" data-icon="minus" data-theme="b">minus</a>
                </li>
            </ul>
            <br />
            <br/>
            <ul data-role="listview" id="nowplayinglist">
                <li>
                    <a href="#">Arjona 5 <span class="ui-li-count">6</span></a>
                    <a href="#" data-icon="plus" data-theme="a">plus</a>
                </li>
            </ul>
        </div>
        <div data-id="footer" data-position="fixed" data-role="footer">
            <div data-role="navbar">
                <ul>
                    <li><a data-icon="star" class="ui-btn-active" href="#nowplaying">Current Playlist</a></li>
                    <li><a data-icon="plus" href="#latests">Last Voted</a></li>
                    <li><a data-icon="search" href="#search">Search</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /PAGES Now Playing -->
    <!-- PAGE Latests -->
    <div data-role="page" id="latests" >
        <div data-role="header">
            <h1 data-role="title">Last voted</h1>
        </div>
        <div data-role="content">
            <ol data-role="listview" id="latestlistview">
                <li>
                    <a href="#">Música 1</a> <span class="ui-li-count">5</span>
                    <a href="#" data-icon="plus">plus</a>
                </li>
                <li>
                    <a href="#">Música 2 <span class="ui-li-count">5</span></a>
                    <a href="#" data-icon="plus">plus</a>
                </li>
                <li>
                    <a href="#">Música 3 <span class="ui-li-count">1</span></a>
                    <a href="#" data-icon="plus">plus</a>
                </li>
                <li>
                    <a href="#">Música 4 <span class="ui-li-count">5</span></a>
                    <a href="#" data-icon="plus">plus</a>
                </li>
                <li>
                    <a href="#">Arjona 5 <span class="ui-li-count">6</span></a>
                    <a href="#" data-icon="plus">plus</a>
                </li>
            </ol>
        </div>
        <div data-id="footer" data-position="fixed" data-role="footer">
            <div data-role="navbar">
                <ul>
                    <li><a data-icon="star" href="#nowplaying">Current Playlist</a></li>
                    <li><a data-icon="plus" class="ui-btn-active" href="#latests">Last Voted</a></li>
                    <li><a data-icon="search" href="#search">Search</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /PAGE Latests -->
    <!-- PAGE Search -->
    <div data-role="page" id="search">
    <div data-role="header">
    <h1 data-role="title">Search</h1>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-filter="true" id="searchlist">
            {% for track_id, data in songs.items() %}
            <li><a href="#" data-icon="plus">{{track_id}} {{ data.title }} ({{ data.artist }})</a><a href="#" data-icon="plus" onclick="votar({{ track_id }}, true)"></a></li>
            {% endfor %}
        </ul>
    </div>
    <div data-id="footer" data-position="fixed" data-role="footer">
    <div data-role="navbar">
        <ul>
            <li><a data-icon="star" href="#nowplaying">Current Playlist</a></li>
            <li><a data-icon="plus" href="#latests">Last Voted</a></li>
            <li><a data-icon="search" href="#search" class="ui-btn-active">Search</a></li>
        </ul>
    </div>
    <!-- /PAGE Search -->
    <script type="application/x-template" id="currentsongtpl">
        <li data-theme="a">
            <a href="#">
                <h3><%= artist %> - <%= title %><span class="ui-li-count"><%= votes %></span></h3>
                <p><small><b>Now playing</b></small></p>
            </a>
            <a href="#" class="vote-down" data-icon="minus" data-theme="b">minus</a>
        </li>
    </script>
</body>
</html>
