<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Rockola</title>
	<link rel="stylesheet"  href="/static/jquerymobile/jquery.mobile-1.0.1.min.css" />
	<script src="/static/jquerymobile/jquery.js"></script>
	<script src="/static/jquerymobile/jquery.mobile-1.0.1.min.js"></script>
	<script src="/static/js/underscore.js"></script>
	<script src="/static/js/backbone.js"></script>
	<script src="/static/js/app.js"></script>
</head> 
<body> 
    <!-- PAGE Now playing -->
    <div data-role="page" id="nowplaying">
        <div data-role="header">
            <h1 data-role="title">Now playing</h1>
        </div>
        <div data-role="content">
            <ol data-role="listview">
                <li><a href="#">Música 1 <span class="ui-li-count">12</span></a></li>
                <li><a href="#">Música 2 <span class="ui-li-count">5</span></a></li>
                <li><a href="#">Música 3 <span class="ui-li-count">1</span></a></li>
                <li><a href="#">Música 4 <span class="ui-li-count">5</span></a></li>
                <li><a href="#">Arjona 5 <span class="ui-li-count">6</span></a></li>
            </ol>
        </div>
        <div data-id="footer" data-position="fixed" data-role="footer">
            <div data-role="navbar">
                <ul>
                    <li><a data-icon="star" class="ui-btn-active" href="#nowplaying">Now playing</a></li>
                    <li><a data-icon="plus" href="#latests">latests</a></li>
                    <li><a data-icon="search" href="#search">search</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /PAGES Now Playing -->
    <!-- PAGE Latests -->
    <div data-role="page" id="latests" >
        <div data-role="header">
            <h1 data-role="title">Latests</h1>
        </div>
        <div data-role="content">
            
        </div>
        <div data-id="footer" data-position="fixed" data-role="footer">
            <div data-role="navbar">
                <ul>
                    <li><a data-icon="star" href="#nowplaying">Now playing</a></li>
                    <li><a data-icon="plus" class="ui-btn-active" href="#latests">latests</a></li>
                    <li><a data-icon="search" href="#search">search</a></li>
                </ul>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- /PAGE Latests -->
<!-- PAGE Search -->
<div data-role="page" id="search">
  <div data-role="header">
    <h1 data-role="title">Search</h1>
  </div>
	<div data-role="content">
		<div class="content-primary">
			<nav>
				<ul id="searchlist" data-role="listview" data-inset="true" data-filter="true" data-placeholder="Filter track" data-dividertheme="b">
					<li><a href="docs/pages/index.html">Arjona 1</a></li>
					<li><a href="docs/api/themes.html">Arjona 2</a></li>
				</ul>
			</nav>
		</div>
	</div>
  <div data-id="footer" data-position="fixed" data-role="footer">
    <div data-role="navbar">
      <ul>
        <li><a data-icon="grid" href="#nowplaying">Now playing</a></li>
        <li><a data-icon="grid" href="#latests">latests</a></li>
        <li><a data-icon="search" href="#search" class="ui-btn-active">search</a></li>
      </ul>
    </div>
    <!-- /PAGE Search -->
</body>
</html>
